<section style="margin-top: 50px" class="why_choose_us section-padding">
  <div class="container">
    <div class="section-title text-center">
      <h2>Our Services</h2>
      <span></span>
      <!-- <p>Here are four (4) S's Of LemonEX</p> -->
    </div>
    <!-- background: linear-gradient(#fff0 0%, #fff0 70%, #1d1d1d 100%); -->

    <div class="row text-center">
      <div style="border-width:1rem; border-color: rgb(223, 102, 102);" class="col">
        <img style="width: 300px;height: auto;" src="assets/diverse.png" alt="icon-image" />
        <div style="text-align: left;">
          <br>
          <h4>Diverse Coins</h4>
          <p style="color: white;">
            We support 3 cryptocurrencies that are available for instant crypto
            exchange and purchase at the best execution prices. Since the crypto
            market is developing rapidly, we will continually build up the list
            of crypto assets, so you can exchange, sell, and buy new digital
            currencies within minutes. Exchange and buy Bitcoin (BTC), Ethereum
            (ETH), USDT , NGNT, and a wide variety of other crypto assets using
            payment methods that suit you the most such as (Our Unique P2P and
            bank transfer).
          </p>
        </div>
      </div>
      <div class="col">
        <img style="width: 300px;height: auto;" src="assets/swap.png" alt="icon-image" />
        <div style="text-align: left;">
          <br>
          <h4>Instant Swap</h4>
          <p style="color: white;">
            LemonEX lets you exchange cryptocurrency in a fast and secure
            way. Just sign up for a new account on lemonexchange.africa , choose
            a cryptocurrency you would like to exchange after funding your
            wallet, and click the "Exchange now" button. Afterward, enter the
            address of your digital wallet and wait for a bit. In a few minutes,
            the exchanged coins will arrive in your wallet.
          </p>
        </div>
      </div>
    </div>
    <br>
    <div class="row text-center">
      <div style="border-width:1rem; border-color: rgb(223, 102, 102);" class="col">
        <img style="width: 300px;height: auto;" src="assets/speed.png" alt="icon-image" />
        <div style="text-align: left;">
          <br>
          <h4>Speed</h4>
          <p style="color: white;">
            A crypto exchange takes around 10-40 minutes. However, a
            cryptocurrency exchange might take more time should there be
            congestion within a particular blockchain.
          </p>
        </div>
      </div>
      <div class="col">
        <img style="width: 300px;height: auto;" src="assets/wallet.png" alt="icon-image" />
        <div style="text-align: left;">
          <br>
          <h4>Instant Wallet</h4>
          <p style="color: white;">
            Sign up/Log in to your LemonEx account seamlessly with no
            unnecessary information required
          </p>
        </div>
      </div>
    </div>
<!-- 
    <div class="row text-center">
      <div
        style="display: flex"
        class="col-lg-6 col-sm-6 col-xs-12 wow fadeInLeft"
        data-wow-duration="1s"
        data-wow-delay="0.1s"
        data-wow-offset="0"
      >
        <div class="single_about">
          <img src="assets/diverse.png" alt="icon-image" />
          <h4>Diverse Coins</h4>
          <p>
            We support 3 cryptocurrencies that are available for instant crypto
            exchange and purchase at the best execution prices. Since the crypto
            market is developing rapidly, we will continually build up the list
            of crypto assets, so you can exchange, sell, and buy new digital
            currencies within minutes. Exchange and buy Bitcoin (BTC), Ethereum
            (ETH), USDT , NGNT, and a wide variety of other crypto assets using
            payment methods that suit you the most such as (Our Unique P2P and
            bank transfer).
          </p>
        </div>
      </div>
      <div
        style="display: flex"
        class="col-lg-6 col-sm-6 col-xs-12 wow fadeInLeft"
        data-wow-duration="1s"
        data-wow-delay="0.2s"
        data-wow-offset="0"
      >
        <div class="single_about">
          <img src="assets/swap.png" alt="icon-image" />
          <h4>Instant Swap</h4>
          <p>
            LemonEX lets you exchange cryptocurrency in a fast and secure
            way. Just sign up for a new account on lemonexchange.africa , choose
            a cryptocurrency you would like to exchange after funding your
            wallet, and click the "Exchange now" button. Afterward, enter the
            address of your digital wallet and wait for a bit. In a few minutes,
            the exchanged coins will arrive in your wallet.
          </p>
        </div>
      </div>
    </div>
    <div class="row text-center mt-4">
      <div
        style="display: flex"
        class="col-lg-6 col-sm-6 col-xs-12 wow fadeInLeft"
        data-wow-duration="1s"
        data-wow-delay="0.2s"
        data-wow-offset="0"
      >
        <div  class="single_about">
          <img src="assets/wallet.png" alt="icon-image" />
          <h4>Instant Wallet</h4>
          <p>
            Sign up/Log in to your Lemonex account seamlessly with no
            unnecessary information required
          </p>
        </div>
      </div>
      <div
        style="display: flex"
        class="col-lg-6 col-sm-6 col-xs-12 wow fadeInLeft"
        data-wow-duration="1s"
        data-wow-delay="0.2s"
        data-wow-offset="0"
      >
        <div class="single_about">
          <img src="assets/speed.png" alt="icon-image" />
          <h4>Speed</h4>
          <p>
            A crypto exchange takes around 10-40 minutes. However, a
            cryptocurrency exchange might take more time should there be
            congestion within a particular blockchain.
          </p>
        </div>
      </div>
    </div> -->

  </div>
</section>

<!-- <section
  id="services"
  style="margin-top: 50px"
  class="contact_us section-padding"
>
  <div style="margin-top: 90px" class="container">
    <div class="section-title text-left">
      <div
        class=""
        data-wow-duration="1s"
        data-wow-delay="0.2s"
        data-wow-offset="0"
      >
        <div class="about-text">
          <h2
            style="
              color: #fff;
              font-size: 66px;
              font-weight: 700;
              line-height: 82px;
            "
          >
            Our Services
          </h2>
          <h4 style="font-size: large">
            <b>1.</b> <b>Diverse Coins </b><br />
            We support 3 cryptocurrencies that are available for instant crypto
            exchange and purchase at the best execution prices. Since the crypto
            market is developing rapidly, we will continually build up the list
            of crypto assets, so you can exchange, sell, and buy new digital
            currencies within minutes. Exchange and buy Bitcoin (BTC), Ethereum
            (ETH), USDT , NGNT, and a wide variety of other crypto assets using
            payment methods that suit you the most such as (Our Unique P2P and
            bank transfer).
          </h4>
          <br />
          <h4 style="font-size: large">
            <b>2.</b> <b>Instant Swap </b><br />
            Lemonex would let you exchange cryptocurrency in a fast and secure
            way. Just sign up for a new account on lemonexchange.africa , choose
            a cryptocurrency you would like to exchange after funding your
            wallet, and click the "Exchange now" button. Afterward, enter the
            address of your digital wallet and wait for a bit. In a few minutes,
            the exchanged coins will arrive in your wallet.
          </h4>
          <br />
          <h4 style="font-size: large">
            <b>3.</b> <b>Instant Wallet</b> <br />
            Sign up/Log in to your Lemonex account seamlessly with no
            unnecessary information required
          </h4>
          <br />
          <h4 style="font-size: large">
            <b>4.</b> <b>Speed</b><br />
            A crypto exchange takes around 10-40 minutes. However, a
            cryptocurrency exchange might take more time should there be
            congestion within a particular blockchain.
          </h4>
        </div>
      </div>
    </div>
  </div>
</section> -->
<!-- START WHY CHOOSE US -->
<!-- <owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide>
      <div
        style="padding: 15px"
        class="flex-fill wow fadeInLeft"
        data-wow-duration="1s"
        data-wow-delay="0.1s"
        data-wow-offset="0"
      >
        <div
          style="text-align: center"
          class="single_about"
          style="
            display: flex;
            flex-direction: column;
            min-height: 100%;
            flex: 1 1 auto !important;
          "
        >
          <img src="assets/shield.png" alt="icon-image" />
          <h4>Safety</h4>
          <p>
            As a crypto owner on our platform your security is of high priority to
            us. we have checks in place to detect and block security breaches from
            scammers or fraudster and on frequent occasion we shall be sharing
            tips on how to help tighten up your crypto security practices and
            protect your data online.
          </p>
        </div>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div
        style="padding: 15px"
        class="flex-fill wow fadeInLeft"
        data-wow-duration="1s"
        data-wow-delay="0.2s"
        data-wow-offset="0"
      >
        <div
          class="single_about"
          style="
            display: flex;
            flex-direction: column;
            min-height: 100%;
            flex: 1 1 auto !important;
          "
        >
          <img src="assets/support.png" alt="icon-image" />
          <h4>Support</h4>
          <p>
            We shall ensure that all customers complaint and enquiries are treated
            promptly with our 24/7 customer support channels. Also new users to
            the ecosystem will have all their questions answered, to ensure you
            all have a seamless experience. From how to deposit funds to how you
            can buy your first crypto on the Lemoni Africa platform. At Lemoni
            Africa we’ve got you covered.
          </p>
        </div>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div
        style="padding: 15px"
        class="flex-fill wow fadeInLeft"
        data-wow-duration="1s"
        data-wow-delay="0.2s"
        data-wow-offset="0"
      >
        <div
          class="single_about"
          style="
            display: flex;
            flex-direction: column;
            min-height: 100%;
            flex: 1 1 auto !important;
          "
        >
          <img src="assets/startup.png" alt="icon-image" />
          <h4>Swift</h4>
          <p>
            At Lemoni Africa Speed and safety is of the essence. All transactions
            on our platform are instant! This means you can easily buy coins and
            other supported cryptocurrencies on our platform with your local Fiat
            and have your wallet is funded immediately.
          </p>
        </div>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div
        style="padding: 15px"
        class="flex-fill wow fadeInLeft"
        data-wow-duration="1s"
        data-wow-delay="0.2s"
        data-wow-offset="0"
      >
        <div
          class="single_about"
          style="
            display: flex;
            flex-direction: column;
            min-height: 100%;
            flex: 1 1 auto !important;
          "
        >
          <img src="assets/click.png" alt="icon-image" />
          <h4>Seamless</h4>
          <p>
            Along with a fresh and more intuitive user interface, we look forward
            to helping you have the best experience on the Lemoni Africa Platform.
            With a seamles onboarding process
          </p>
        </div>
      </div>
    </ng-template>
  </owl-carousel-o> -->
<!-- <nz-carousel [nzEffect]="effect">
    <div nz-carousel-content>
      <div class="single_about">
        <img src="assets/shield.png" alt="icon-image" />
        <h4>Safety</h4>
        <p>
          As a crypto owner on our platform your security is of high priority to
          us. we have checks in place to detect and block security breaches from
          scammers or fraudster and on frequent occasion we shall be sharing tips
          on how to help tighten up your crypto security practices and protect
          your data online.
        </p>
      </div>
    </div>
  </nz-carousel> -->
<section class="why_choose_us section-padding">
  <div class="container">
    <div class="section-title text-center">
      <h2>Four (4) S's of LemonEX</h2>
      <span></span>
      <!-- <p>Here are four (4) S's Of LemonEX</p> -->
    </div>
    <!-- background: linear-gradient(#fff0 0%, #fff0 70%, #1d1d1d 100%); -->
    <div class="row text-center">
      <div
        style="display: flex"
        class="col-lg-6 col-sm-6 col-xs-12 wow fadeInLeft"
        data-wow-duration="1s"
        data-wow-delay="0.1s"
        data-wow-offset="0"
      >
        <div style="background:#428150;opacity: 0.9;" class="single_about">
          <img src="assets/shield.png" alt="icon-image" />
          <h4>Safety</h4>
          <p>
            As a crypto owner on our platform your security is of high priority
            to us. we have checks in place to detect and block security breaches
            from scammers or fraudster and on frequent occasion we shall be
            sharing tips on how to help tighten up your crypto security
            practices and protect your data online.
          </p>
        </div>
      </div>
      <!-- END COL -->
      <div
        style="display: flex"
        class="col-lg-6 col-sm-6 col-xs-12 wow fadeInLeft"
        data-wow-duration="1s"
        data-wow-delay="0.2s"
        data-wow-offset="0"
      >
        <div style="background:#428150;opacity: 0.9;" class="single_about">
          <img src="assets/support.png" alt="icon-image" />
          <h4>Support</h4>
          <p>
            Our 24/7 customer support channels are available to ensure that all customer complaints and enquiries are treated promptly.
             Also, new users to the ecosystem will have all their questions answered, to ensure you all have a seamless experience.
              From how to deposit funds, to how you can buy your first crypto on the LemonEX platform. We’ve got you covered.
          </p>
        </div>
      </div>
    </div>
    <div class="row text-center mt-4">
      <!-- END COL -->
      <div
        style="display: flex"
        class="col-lg-6 col-sm-6 col-xs-12 wow fadeInLeft"
        data-wow-duration="1s"
        data-wow-delay="0.2s"
        data-wow-offset="0"
      >
        <div style="background:#428150;opacity: 0.9;" class="single_about">
          <img src="assets/startup.png" alt="icon-image" />
          <h4>Swift</h4>
          <p>
            "On LemonEX platform, speed and safety is of the essence; your transactions are instant.
             This means you can buy coins and other supported cryptocurrencies with your local fiat hassle-free and have your wallet funded immediately.
          </p>
        </div>
      </div>
      <!-- END COL -->
      <div
        style="display: flex"
        class="col-lg-6 col-sm-6 col-xs-12 wow fadeInLeft"
        data-wow-duration="1s"
        data-wow-delay="0.2s"
        data-wow-offset="0"
      >
        <div style="background:#428150;opacity: 0.9;" class="single_about">
          <img src="assets/click.png" alt="icon-image" />
          <h4>Seamless</h4>
          <p>
            Along with a fresh, more intuitive user interface and seamless onboarding process,
            we look forward helping you have the best experience on LemonEX platform
          </p>
        </div>
      </div>
      <!-- END COL -->
    </div>

    <!-- END ROW -->
  </div>
  <!-- END CONTAINER -->
</section>
