<!-- START HOME -->
<section id="home" class="home_bg">
  <div class="container">
    <div class="row">
      <div class="col-lg-7 col-sm-12 col-xs-12">
        <div class="hero-text">
          <br /><br />
          <br /><br />
          <h2>Start your crypto journey with us.</h2>
          <!-- <p>
              We offers users a fully operational long-term rental platform.
              It plans to leverages blockchain technology to ensure seamless
              rental experience.
            </p> -->
          <div class="home_btn">
            <!-- <a
                href="https://electroneum.com/overview-white-paper.pdf"
                target="_blank"
                class="btn_one wow bounceIn"
                data-wow-delay=".6s"
                >Whitepaper</a
              > -->
            <a
              style="background-color: green; border-color: green; color: black"
              (click)="goToDynamic('about')"
              class="btn_two wow bounceIn"
              data-wow-delay=".8s"
              >learn More</a
            >
            <a
              target="_blank"
              href="https://www.lemoniafrica.com/"
              style="
                background-color: #0b2e8a;
                border-color: #0b2e8a;
                color: white;
                z-index: 100000;
              "
              class="btn_one wow bounceIn"
              data-wow-delay=".6s"
              >Trade with Ease</a
            >
          </div>
        </div>
      </div>
      <!--- END COL -->
      <!-- <div class="col-lg-5 col-sm-12 col-xs-12 text-center">
        <div
          style="background-color: rgb(5, 10, 5); border-color: rgb(5, 10, 5)"
          class="buy-icons"
        >
      
          <img src="/assets/tiles1.png" alt="" />
        </div>
      </div> -->
      <!--- END COL -->
    </div>
    <!--- END ROW -->
  </div>
  <!--- END CONTAINER -->
</section>
<!-- END  HOME -->

<!-- START ABOUT -->
<section id="about" class="about_us section-padding">
  <div class="container">
    <div class="row">
      <div
        class="col-lg-6 col-sm-12 col-xs-12 wow fadeInUp"
        data-wow-duration="1s"
        data-wow-delay="0.2s"
        data-wow-offset="0"
      >
        <div class="about-text">
          <h2
            style="
              color: #fff;
              font-size: 66px;
              font-weight: 700;
              line-height: 82px;
            "
          >
            About Us
          </h2>
          <h4 style="font-size: large; margin-bottom: 20px">
            We are a team of tenacious Tech enthusiasts here to demcratize
            access to the Crytocurrency Ecosystem with the ultimate goal of
            driving digital asset adoption across Africa through our platform,
            which empowers you to transact in the most secure, seamless and
            swift manner by just a "click"
          </h4>
          <h2
            style="
              color: #fff;
              font-size: 20px;
              line-height: 0px;
              margin-bottom: 20px;
            "
          >
            <b>Our Culture</b>
          </h2>
          <h4 style="font-size: large">
            At Lemoni Africa, we believe that everyone deserves to have access
            to digital assets, which is why we have come up with a one-stop-shop
            experience to enable Africans and the world at large, to purchase,
            sell, swap and trade cryptocurrencies. We are leveraging on
            Technology and our people to create a seamless, swift, supportive
            and safe platform for users and potential users around the world:
            our goal is to remove any technical or financial barriers that can
            limit wealth creation for our customers. We're excited to help you
            through your journey!
          </h4>
          <h2
            style="
              color: #fff;
              font-size: 20px;
              line-height: 0px;
              margin-bottom: 20px;
              margin-top: 20px;
            "
          >
            <b>Mission</b>
          </h2>
          <h4 style="font-size: large">
            We shall provide users with the most comprehensive and seamless
            exchange platform available and shall ensure we are at the forefront
            of security with convenient transparency.
          </h4>
          <h2
            style="
              color: #fff;
              font-size: 20px;
              line-height: 0px;
              margin-bottom: 20px;
              margin-top: 20px;
            "
          >
            <b>Vision</b>
          </h2>
          <h4 style="font-size: large">
            We are a team of innovators, committed to driving cryptocurrency
            adoption globally by democratizing access to the cryptocurrency
            ecosystem.
          </h4>

          <div class="about_btn">
            <a
              style="background-color: green; border-color: green; color: black"
              class="video_btn"
              ><i class="fa fa-play"></i
              ><span style="color: black" class="video-title"
                >Watch Video</span
              ></a
            >
          </div>
        </div>
      </div>
      <!--- END COL -->
      <div
        class="col-lg-6 col-sm-12 col-xs-12 text-center wow fadeInUp"
        data-wow-duration="1s"
        data-wow-delay="0.2s"
        data-wow-offset="0"
      >
        <div class="about-img">
          <img
            style="margin-top: 50px"
            src="/assets/question.png"
            class="item-bounce img-fluid"
            alt=""
          />
        </div>
      </div>
      <!--- END COL -->
    </div>
    <!--- END ROW -->
  </div>
  <!--- END CONTAINER -->
</section>
<!-- END  ABOUT -->
<!-- <section id="contact" class="contact_us section-padding">
      <div class="container">
        <div class="section-title text-center"> -->

<section id="services" class="contact_us section-padding">
  <div class="container">
    <div class="section-title text-left">
      <div
        class=""
        data-wow-duration="1s"
        data-wow-delay="0.2s"
        data-wow-offset="0"
      >
        <div class="about-text">
          <h2
            style="
              color: #fff;
              font-size: 66px;
              font-weight: 700;
              line-height: 82px;
            "
          >
            Our Services
          </h2>
          <h4 style="font-size: large">
            <b>1.</b> <b>Diverse Coins </b><br />
            We support 3 cryptocurrencies that are available for instant crypto
            exchange and purchase at the best execution prices. Since the crypto
            market is developing rapidly, we will continually build up the list
            of crypto assets, so you can exchange, sell, and buy new digital
            currencies within minutes. Exchange and buy Bitcoin (BTC), Ethereum
            (ETH), USDT , NGNT, and a wide variety of other crypto assets using
            payment methods that suit you the most such as (Our Unique P2P and
            bank transfer).
          </h4>
          <br />
          <h4 style="font-size: large">
            <b>2.</b> <b>Instant Swap </b><br />
            Lemonex would let you exchange cryptocurrency in a fast and secure
            way. Just sign up for a new account on lemonexchange.africa , choose
            a cryptocurrency you would like to exchange after funding your
            wallet, and click the "Exchange now" button. Afterward, enter the
            address of your digital wallet and wait for a bit. In a few minutes,
            the exchanged coins will arrive in your wallet.
          </h4>
          <br />
          <h4 style="font-size: large">
            <b>3.</b> <b>Instant Wallet</b> <br />
            Sign up/Log in to your Lemonex account seamlessly with no
            unnecessary information required
          </h4>
          <br />
          <h4 style="font-size: large">
            <b>4.</b> <b>Speed</b><br />
            A crypto exchange takes around 10-40 minutes. However, a
            cryptocurrency exchange might take more time should there be
            congestion within a particular blockchain.
          </h4>
        </div>
      </div>
      <!--- END COL -->
    </div>
    <!--- END ROW -->
  </div>
  <!--- END CONTAINER -->
</section>
<!-- START WHY CHOOSE US -->
<!-- <owl-carousel-o [options]="customOptions">
  <ng-template carouselSlide>
    <div
      style="padding: 15px"
      class="flex-fill wow fadeInLeft"
      data-wow-duration="1s"
      data-wow-delay="0.1s"
      data-wow-offset="0"
    >
      <div
        style="text-align: center"
        class="single_about"
        style="
          display: flex;
          flex-direction: column;
          min-height: 100%;
          flex: 1 1 auto !important;
        "
      >
        <img src="assets/shield.png" alt="icon-image" />
        <h4>Safety</h4>
        <p>
          As a crypto owner on our platform your security is of high priority to
          us. we have checks in place to detect and block security breaches from
          scammers or fraudster and on frequent occasion we shall be sharing
          tips on how to help tighten up your crypto security practices and
          protect your data online.
        </p>
      </div>
    </div>
  </ng-template>
  <ng-template carouselSlide>
    <div
      style="padding: 15px"
      class="flex-fill wow fadeInLeft"
      data-wow-duration="1s"
      data-wow-delay="0.2s"
      data-wow-offset="0"
    >
      <div
        class="single_about"
        style="
          display: flex;
          flex-direction: column;
          min-height: 100%;
          flex: 1 1 auto !important;
        "
      >
        <img src="assets/support.png" alt="icon-image" />
        <h4>Support</h4>
        <p>
          We shall ensure that all customers complaint and enquiries are treated
          promptly with our 24/7 customer support channels. Also new users to
          the ecosystem will have all their questions answered, to ensure you
          all have a seamless experience. From how to deposit funds to how you
          can buy your first crypto on the Lemoni Africa platform. At Lemoni
          Africa we’ve got you covered.
        </p>
      </div>
    </div>
  </ng-template>
  <ng-template carouselSlide>
    <div
      style="padding: 15px"
      class="flex-fill wow fadeInLeft"
      data-wow-duration="1s"
      data-wow-delay="0.2s"
      data-wow-offset="0"
    >
      <div
        class="single_about"
        style="
          display: flex;
          flex-direction: column;
          min-height: 100%;
          flex: 1 1 auto !important;
        "
      >
        <img src="assets/startup.png" alt="icon-image" />
        <h4>Swift</h4>
        <p>
          At Lemoni Africa Speed and safety is of the essence. All transactions
          on our platform are instant! This means you can easily buy coins and
          other supported cryptocurrencies on our platform with your local Fiat
          and have your wallet is funded immediately.
        </p>
      </div>
    </div>
  </ng-template>
  <ng-template carouselSlide>
    <div
      style="padding: 15px"
      class="flex-fill wow fadeInLeft"
      data-wow-duration="1s"
      data-wow-delay="0.2s"
      data-wow-offset="0"
    >
      <div
        class="single_about"
        style="
          display: flex;
          flex-direction: column;
          min-height: 100%;
          flex: 1 1 auto !important;
        "
      >
        <img src="assets/click.png" alt="icon-image" />
        <h4>Seamless</h4>
        <p>
          Along with a fresh and more intuitive user interface, we look forward
          to helping you have the best experience on the Lemoni Africa Platform.
          With a seamles onboarding process
        </p>
      </div>
    </div>
  </ng-template>
</owl-carousel-o> -->
<!-- <nz-carousel [nzEffect]="effect">
  <div nz-carousel-content>
    <div class="single_about">
      <img src="assets/shield.png" alt="icon-image" />
      <h4>Safety</h4>
      <p>
        As a crypto owner on our platform your security is of high priority to
        us. we have checks in place to detect and block security breaches from
        scammers or fraudster and on frequent occasion we shall be sharing tips
        on how to help tighten up your crypto security practices and protect
        your data online.
      </p>
    </div>
  </div>
</nz-carousel> -->
<section class="why_choose_us section-padding">
  <div class="container">
    <div class="section-title text-center">
      <h2>Four (4) S's of LemonEX</h2>
      <span></span>
      <!-- <p>Here are four (4) S's Of LemonEX</p> -->
    </div>

    <div class="row text-center">
      <div
        style="
          display: flex;
          background: linear-gradient(#fff0 0%, #fff0 70%, #1d1d1d 100%);
        "
        class="col-lg-6 col-sm-6 col-xs-12 wow fadeInLeft"
        data-wow-duration="1s"
        data-wow-delay="0.1s"
        data-wow-offset="0"
      >
        <div class="single_about">
          <img src="assets/shield.png" alt="icon-image" />
          <h4>Safety</h4>
          <p>
            As a crypto owner on our platform your security is of high priority
            to us. we have checks in place to detect and block security breaches
            from scammers or fraudster and on frequent occasion we shall be
            sharing tips on how to help tighten up your crypto security
            practices and protect your data online.
          </p>
        </div>
      </div>
      <!-- END COL -->
      <div
        style="display: flex"
        class="col-lg-6 col-sm-6 col-xs-12 wow fadeInLeft"
        data-wow-duration="1s"
        data-wow-delay="0.2s"
        data-wow-offset="0"
      >
        <div class="single_about">
          <img src="assets/support.png" alt="icon-image" />
          <h4>Support</h4>
          <p>
            We shall ensure that all customers complaint and enquiries are
            treated promptly with our 24/7 customer support channels. Also new
            users to the ecosystem will have all their questions answered, to
            ensure you all have a seamless experience. From how to deposit funds
            to how you can buy your first crypto on the Lemoni Africa platform.
            At Lemoni Africa we’ve got you covered.
          </p>
        </div>
      </div>
    </div>
    <div class="row text-center mt-4">
      <!-- END COL -->
      <div
        style="display: flex"
        class="col-lg-6 col-sm-6 col-xs-12 wow fadeInLeft"
        data-wow-duration="1s"
        data-wow-delay="0.2s"
        data-wow-offset="0"
      >
        <div class="single_about">
          <img src="assets/startup.png" alt="icon-image" />
          <h4>Swift</h4>
          <p>
            At Lemoni Africa Speed and safety is of the essence. All
            transactions on our platform are instant! This means you can easily
            buy coins and other supported cryptocurrencies on our platform with
            your local Fiat and have your wallet is funded immediately.
          </p>
        </div>
      </div>
      <!-- END COL -->
      <div
        style="display: flex"
        class="col-lg-6 col-sm-6 col-xs-12 wow fadeInLeft"
        data-wow-duration="1s"
        data-wow-delay="0.2s"
        data-wow-offset="0"
      >
        <div class="single_about">
          <img src="assets/click.png" alt="icon-image" />
          <h4>Seamless</h4>
          <p>
            Along with a fresh and more intuitive user interface, we look
            forward to helping you have the best experience on the Lemoni Africa
            Platform. With a seamles onboarding process
          </p>
        </div>
      </div>
      <!-- END COL -->
    </div>

    <!-- END ROW -->
  </div>
  <!-- END CONTAINER -->
</section>
<!-- END WHY CHOOSE US -->

<section id="roadmap" class="roadmap_area section-padding">
  <div class="container">
    <div class="section-title text-center">
      <h2>Lemonex Trading Simplified</h2>
      <span></span>
      <!-- <p>
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
          nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
          erat.
        </p> -->
    </div>
    <div class="row">
      <div class="col-lg-12 col-sm-12 col-xs-12">
        <div class="main-timeline">
          <div
            class="timeline wow fadeInUp"
            data-wow-duration="1s"
            data-wow-delay="0.1s"
            data-wow-offset="0"
          >
            <div class="icon"></div>
            <div class="date-content">
              <div class="date-outer">
                <span class="date">
                  <span class="year">Sign Up</span>
                </span>
              </div>
            </div>
            <div class="timeline-content">
              <h3 class="title">Create Account</h3>
              <p class="description">
                Sign up for an account on our mobile app for android and iOS
                with your basic info. No unnecessary info us required, it is
                quick and seamless
              </p>
            </div>
          </div>
          <!-- END TIMELINE -->
          <div
            class="timeline wow fadeInUp"
            data-wow-duration="1s"
            data-wow-delay="0.2s"
            data-wow-offset="0"
          >
            <div class="icon"></div>
            <div class="date-content">
              <div class="date-outer">
                <span class="date">
                  <span class="year">Wallet Funding</span>
                </span>
              </div>
            </div>
            <div class="timeline-content">
              <h3 class="title">Create wallet addresses for crypto assets</h3>
              <p class="description">
                Choose your own unique payment method to deposit money inito
                your account
              </p>
            </div>
          </div>
          <!-- END TIMELINE -->
          <div
            class="timeline wow fadeInUp"
            data-wow-duration="1s"
            data-wow-delay="0.3s"
            data-wow-offset="0"
          >
            <div class="icon"></div>
            <div class="date-content">
              <div class="date-outer">
                <span class="date">
                  <span class="year">Buy & Sell Asset</span>
                </span>
              </div>
            </div>
            <div class="timeline-content">
              <h3 class="title">Start Trading</h3>
              <p class="description">
                We work with a variety of crypto trading platform in order to
                give you the best offers. Start trading Bitcoin, Ethereum and
                Tether instantly at the best rates with low fees.
              </p>
            </div>
          </div>
        </div>
        <!-- END MAIN TIMELINE -->
      </div>
      <!-- END COL -->
    </div>
    <!-- END ROW -->
  </div>
  <!-- END CONTAINER -->
</section>

<!-- END ROADMAP -->
<app-faq></app-faq>

<!-- START TEAM -->
<section id="team" class="our_team section-padding">
  <div class="container">
    <div class="section-title text-center">
      <h2>Users Testimonial</h2>
      <span></span>
      <!-- <p>
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
        eirmod tempor invidunt ut labore et dolore magna aliquyam erat.
      </p> -->
    </div>
    <div class="row text-center">
      <div
        class="col wow fadeInUp"
        data-wow-duration="1s"
        data-wow-delay="0.1s"
        data-wow-offset="0"
      >
        <div class="our-team">
          <img src="assets/img/team/1.jpg" class="img-fluid" alt="team-image" />
          <h3 class="title">Aaron Loeb</h3>
          <!-- <ul class="social">
            <li>
              <a href="#"><i class="fa fa-facebook"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-google-plus"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-twitter"></i></a>
            </li>
          </ul> -->
          <span class="post">Seamless Process</span>
        </div>
      </div>
      <!-- END COL -->
      <div
        class="col wow fadeInUp"
        data-wow-duration="1s"
        data-wow-delay="0.1s"
        data-wow-offset="0"
      >
        <div class="our-team">
          <img src="assets/img/team/2.jpg" class="img-fluid" alt="team-image" />
          <h3 class="title">Ayoub Fennouni</h3>
          <!-- <ul class="social">
            <li>
              <a href="#"><i class="fa fa-facebook"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-google-plus"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-twitter"></i></a>
            </li>
          </ul> -->
          <span class="post">Good interface</span>
        </div>
      </div>
      <!-- END COL -->
      <div
        class="col wow fadeInUp"
        data-wow-duration="1s"
        data-wow-delay="0.1s"
        data-wow-offset="0"
      >
        <div class="our-team">
          <img src="assets/img/team/3.jpg" class="img-fluid" alt="team-image" />
          <h3 class="title">Mark Linomi</h3>
          <!-- <ul class="social">
            <li>
              <a href="#"><i class="fa fa-facebook"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-google-plus"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-twitter"></i></a>
            </li>
          </ul> -->
          <span class="post">Faster than light</span>
        </div>
      </div>
      <!-- END COL -->
    </div>
    <!-- END ROW -->
  </div>
  <!-- END CONTAINER -->
</section>
<!-- END TEAM -->

<!-- START DOWNLOAD APP -->
<section id="community" class="section-padding">
  <div class="container">
    <div class="section-title text-center">
      <h2>Community</h2>
      <span></span>
      <!-- <h4 style="font-size: large">
        Join our exclusive community! Get early access to earn rewards while
        trading and connect to crypto with like-minded people.
      </h4> -->
    </div>
    <div class="row">
      <div
        class="col-lg-7 col-sm-12 col-xs-12 wow fadeInUp"
        data-wow-duration="1s"
        data-wow-delay="0.1s"
        data-wow-offset="0"
      >
        <div class="app-text">
          <h2>Install LemonEX Application</h2>
          <p>
            Join our exclusive community! Get early access to earn rewards while
            trading and connect to crypto with like-minded people.
          </p>
          <ul>
            <li><span class="ti-download"></span>Download It for Free</li>
            <li><span class="ti-package"></span>Install App</li>
            <li><span class="ti-user"></span>Create Profile</li>
            <li><span class="ti-cup"></span>Enjoy this app</li>
          </ul>
        </div>
        <div class="app_btn">
          <a href="#" class="btn_one wow bounceIn" data-wow-delay=".3s"
            ><i class="fa fa-apple"></i>App Store</a
          >
          <a href="#" class="btn_two wow bounceIn" data-wow-delay=".4s"
            ><i class="fa fa-play"></i>Google Play</a
          >
        </div>
      </div>
      <!-- END COL -->
      <div
        class="col-lg-5 col-sm-12 col-xs-12 wow fadeInUp"
        data-wow-duration="1s"
        data-wow-delay="0.1s"
        data-wow-offset="0"
      >
        <div class="app_img">
          <img src="assets/newStuff.png" class="img-fluid" alt="" />
        </div>
      </div>
      <!-- END COL -->
    </div>
    <!-- END ROW -->
  </div>
  <!-- END CONTAINER -->
</section>
<!-- END DOWNLOAD APP -->
<!-- START CONTACT -->
<!-- <section id="community" class="contact_us section-padding">
  <div class="container">
    <div class="section-title text-center">
      <h2>Community</h2>
      <span></span>
      <h4 style="font-size: large">
        Join our exclusive community! Get early access to earn rewards while
        trading and connect to crypto with like-minded people.
      </h4>
    </div>
    <div class="row">
      <div class="offset-lg-1 col-lg-10 col-sm-12 col-xs-12 text-center">
        <div class="contact">
          <form [formGroup]="contactForm" class="form" name="enq">
            <div class="row">
              <div class="form-group col-md-6">
                <input
                  formControlName="recipientName"
                  type="text"
                  name="name"
                  class="form-control"
                  placeholder="Name"
                  required="required"
                />
                <em
                  class="text-danger valiFontSizes"
                  *ngIf="
                    recipientNameError ||
                    (contactForm.get('recipientName')?.errors &&
                      (contactForm.get('recipientName')?.touched ||
                        contactForm.get('recipientName')?.dirty))
                  "
                >
                  <em *ngIf="contactForm.get('recipientName')?.errors?.required"
                    >Name is required</em
                  >
                </em>
              </div>
              <div class="form-group col-md-6">
                <input
                  name="text"
                  formControlName="recipientPhoneNumber"
                  maxlength="11"
                  oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                  class="form-control"
                  placeholder="Phone Number"
                  required="required"
                />
                <em
                  class="text-danger valiFontSizes"
                  *ngIf="
                    phoneNumberError ||
                    (contactForm.get('recipientPhoneNumber')?.errors &&
                      (contactForm.get('recipientPhoneNumber')?.touched ||
                        contactForm.get('recipientPhoneNumber')?.dirty))
                  "
                >
                  <em
                    *ngIf="
                      contactForm.get('recipientPhoneNumber')?.errors?.required
                    "
                    >Phone Number is required</em
                  >
                  <em
                    *ngIf="
                      contactForm.get('recipientPhoneNumber')?.errors?.minlength
                    "
                    >Account Number shouldn't be less than 11 digits</em
                  >
                </em>
              </div>

              <div class="form-group col-md-6">
                <input
                  type="text"
                  formControlName="recipientEmail"
                  name="subject"
                  class="form-control"
                  placeholder="Email"
                  required="required"
                />
                <em
                  class="text-danger valiFontSizes"
                  *ngIf="
                    emailError ||
                    (contactForm.get('recipientEmail')?.errors &&
                      (contactForm.get('recipientEmail')?.touched ||
                        contactForm.get('recipientEmail')?.dirty))
                  "
                >
                  <em
                    *ngIf="contactForm.get('recipientEmail')?.errors?.required"
                    >Email is required</em
                  >
                  <em *ngIf="contactForm.get('recipientEmail')?.errors?.pattern"
                    >Email is invalid</em
                  >
                </em>
              </div>
              <div class="form-group col-md-6">
                <input
                  type="text"
                  [(ngModel)]="referalCode"
                  formControlName="referredBy"
                  name="subject"
                  class="form-control"
                  placeholder="Referral Code"
                  required="required"
                />
              </div>
              <div class="col-md-12 text-center">
                <button
                  style="background-color: green; border-color: green"
                  type="submit"
                  value="Send message"
                  name="submit"
                  id="submitButton"
                  class="btn_one"
                  title="Submit Your Message!"
                >
                  Submit
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section> -->
<!-- END CONTACT -->
<br />
<br /><br /><br /><br />

<!-- ADDRESS -->
<div class="address_area">
  <div class="container">
    <div class="row text-center">
      <div
        class="col-lg-4 col-sm-6 col-xs-12 wow fadeInUp"
        data-wow-duration="1s"
        data-wow-delay="0.2s"
        data-wow-offset="0"
      >
        <div class="single_address">
          <div class="address_br">
            <span style="color: gold" class="ti-mobile"></span>
          </div>
          <h4 style="color: gold">Phone</h4>
          <p>+123-456-7890</p>
          <br />
        </div>
      </div>
      <!--- END COL -->
      <div
        class="col-lg-4 col-sm-6 col-xs-12 wow fadeInUp"
        data-wow-duration="1s"
        data-wow-delay="0.3s"
        data-wow-offset="0"
      >
        <div class="single_address">
          <div class="address_br">
            <span style="color: gold" class="ti-email"></span>
          </div>
          <h4 style="color: gold">Email</h4>
          <p>support@lemoniafrica.com</p>
          <p>info@lemoniafrica.com</p>
        </div>
      </div>
      <!--- END COL -->
      <div
        class="col-lg-4 col-sm-6 col-xs-12 wow fadeInUp"
        data-wow-duration="1s"
        data-wow-delay="0.4s"
        data-wow-offset="0"
      >
        <div class="single_address">
          <div class="address_br">
            <span style="color: gold" class="ti-location-pin"></span>
          </div>
          <h4 style="color: gold">Address</h4>
          <p>
            256, Chapman Road, STE 105-4 Street, Newark, Newcastle, 19702
            Delaware
          </p>
        </div>
      </div>
      <!--- END COL -->
    </div>
    <!--- END ROW -->
  </div>
  <!--- END CONTAINER -->
</div>
<!-- END ADDRESS -->
