<section id="about" style="margin-top: 50px" class="about_us section-padding">
  <div class="container">
    <div class="row">
      <div
        style="margin-top: 90px"
        class="col-lg-6 col-sm-12 col-xs-12 wow fadeInUp"
        data-wow-duration="1s"
        data-wow-delay="0.2s"
        data-wow-offset="0"
      >
        <div class="about-text">
          <h2
            style="
              color: #fff;
              font-size: 66px;
              font-weight: 700;
              line-height: 82px;
            "
          >
            About Us
          </h2>
          <h4 style="font-size: large; margin-bottom: 20px">
            We are a team of tenacious Tech enthusiasts here to demcratize
            access to the Crytocurrency Ecosystem with the ultimate goal of
            driving digital asset adoption across Africa through our platform,
            which empowers you to transact in the most secure, seamless and
            swift manner by just a "click"
          </h4>

          <div class="about_btn">
            <a
              style="background-color: green; border-color: green; color: black"
              class="video_btn"
              ><i class="fa fa-play"></i
              ><span style="color: black" class="video-title"
                >Watch Video</span
              ></a
            >
          </div>
        </div>
      </div>
      <!--- END COL -->
      <div
        class="col-lg-6 col-sm-12 col-xs-12 text-center wow fadeInUp"
        data-wow-duration="1s"
        data-wow-delay="0.2s"
        data-wow-offset="0"
      >
        <div class="about-img">
          <img
            style="margin-bottom: 50px"
            src="/assets/question.png"
            class="item-bounce img-fluid"
            alt=""
          />
        </div>
      </div>
      <!--- END COL -->
    </div>
    <!--- END ROW -->
  </div>
  <!--- END CONTAINER -->
</section>
<!-- END  ABOUT -->

<section
  style="margin-top: -2rem"
  id="token_sale"
  class="token_sale_area section-padding"
>
  <div class="container">
    <div class="section-title text-center">
      <!-- <h2>Pre-Sale</h2> -->
      <!-- <span></span>
      <p>
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
        eirmod tempor invidunt ut labore et dolore magna aliquyam erat.
      </p> -->
    </div>
    <div class="row">
      <div
        class="col-lg-4 col-sm-6 col-xs-12 wow fadeInUp"
        data-wow-duration="1s"
        data-wow-delay="0.2s"
        data-wow-offset="0"
      >
        <div class="single_presale presale_bgone">
          <h5>Amazing customers</h5>
          <p>100k+</p>
        </div>
      </div>
      <!--- END COL -->
      <div
        class="col-lg-4 col-sm-6 col-xs-12 wow fadeInUp"
        data-wow-duration="1s"
        data-wow-delay="0.2s"
        data-wow-offset="0"
      >
        <div class="single_presale presale_bgone">
          <h5>Team Members</h5>
          <p>10</p>
        </div>
      </div>
      <!--- END COL -->
      <div
        class="col-lg-4 col-sm-6 col-xs-12 wow fadeInUp"
        data-wow-duration="1s"
        data-wow-delay="0.2s"
        data-wow-offset="0"
      >
        <div class="single_presale presale_bgone">
          <h5>Products</h5>
          <p>2</p>
        </div>
      </div>
    </div>
    <!--- END ROW -->
  </div>
  <!--- END CONTAINER -->
</section>
<!-- <section id="contact" class="contact_us section-padding">
        <div class="container">
          <div class="section-title text-center"> -->

<div class="container">
  <h2
    style="color: #fff; font-size: 20px; line-height: 0px; margin-bottom: 20px"
  >
    <b>Our Culture</b>
  </h2>
  <h4 style="font-size: large">
    At Lemoni Africa, we believe that everyone deserves to have access to
    digital assets, which is why we have come up with a one-stop-shop experience
    to enable Africans and the world at large, to purchase, sell, swap and trade
    cryptocurrencies. We are leveraging on Technology and our people to create a
    seamless, swift, supportive and safe platform for users and potential users
    around the world: our goal is to remove any technical or financial barriers
    that can limit wealth creation for our customers. We're excited to help you
    through your journey!
  </h4>
  <h2
    style="
      color: #fff;
      font-size: 20px;
      line-height: 0px;
      margin-bottom: 20px;
      margin-top: 20px;
    "
  >
    <b>Mission</b>
  </h2>
  <h4 style="font-size: large">
    We shall provide users with the most comprehensive and seamless exchange
    platform available and shall ensure we are at the forefront of security with
    convenient transparency.
  </h4>
  <h2
    style="
      color: #fff;
      font-size: 20px;
      line-height: 0px;
      margin-bottom: 20px;
      margin-top: 20px;
    "
  >
    <b>Vision</b>
  </h2>
  <h4 style="font-size: large">
    We are a team of innovators, committed to driving cryptocurrency adoption
    globally by democratizing access to the cryptocurrency ecosystem.
  </h4>
</div>

<section id="community" class="section-padding">
  <div class="container">
    <div class="section-title text-center">
      <h2>Community</h2>
      <span></span>
      <!-- <h4 style="font-size: large">
          Join our exclusive community! Get early access to earn rewards while
          trading and connect to crypto with like-minded people.
        </h4> -->
    </div>
    <div class="row">
      <div
        class="col-lg-7 col-sm-12 col-xs-12 wow fadeInUp"
        data-wow-duration="1s"
        data-wow-delay="0.1s"
        data-wow-offset="0"
      >
        <div class="app-text">
          <h2>Install LemonEX Application</h2>
          <p>
            Join our exclusive community! Get early access to earn rewards while
            trading and connect to crypto with like-minded people.
          </p>
          <ul>
            <li><span class="ti-download"></span>Download It for Free</li>
            <li><span class="ti-package"></span>Install App</li>
            <li><span class="ti-user"></span>Create Profile</li>
            <li><span class="ti-cup"></span>Enjoy this app</li>
          </ul>
        </div>
        <div class="app_btn">
          <a href="#" class="btn_one wow bounceIn" data-wow-delay=".3s"
            ><i class="fa fa-apple"></i>App Store</a
          >
          <a href="#" class="btn_two wow bounceIn" data-wow-delay=".4s"
            ><i class="fa fa-play"></i>Google Play</a
          >
        </div>
      </div>
      <!-- END COL -->
      <div
        class="col-lg-5 col-sm-12 col-xs-12 wow fadeInUp"
        data-wow-duration="1s"
        data-wow-delay="0.1s"
        data-wow-offset="0"
      >
        <div class="app_img">
          <img src="assets/newStuff.png" class="img-fluid" alt="" />
        </div>
      </div>
      <!-- END COL -->
    </div>
    <!-- END ROW -->
  </div>
  <!-- END CONTAINER -->
</section>
