<section class="contact_us section-padding">
  <div class="container">
    <div class="section-title text-left">
      <div
        class=""
        data-wow-duration="1s"
        data-wow-delay="0.2s"
        data-wow-offset="0"
      >
        <!-- <br /><br /> -->
        <div class="about-text">
          <h2
            style="
              color: #fff;
              font-size: 66px;
              font-weight: 700;
              line-height: 82px;
              margin-top: 150px;
              text-align: center;
            "
          >
            Lemoni Africa Culture
          </h2>
          <h4 style="font-size: large; text-align: center">
            Lemoni Africa is driven by the goal to drive mass adoption of
            cryptocurrency across Africa by offering an array of products and
            services that allow customers to have a one-stop-shop experience for
            purchasing, selling, swapping, and trading cryptocurrencies. We
            don’t only aim to democratize access to the Crypto ecosystem but our
            goal is also to drive crypto Adoption in Africa and the world at
            large
          </h4>
        </div>
      </div>
      <!--- END COL -->
    </div>
    <!--- END ROW -->
  </div>
  <!--- END CONTAINER -->
</section>

<section class="contact_us section-padding">
  <div class="container">
    <div class="section-title text-left">
      <div
        class=""
        data-wow-duration="1s"
        data-wow-delay="0.2s"
        data-wow-offset="0"
      >
        <!-- <br /><br /> -->
        <div class="about-text">
          <h2
            style="
              color: #fff;
              font-size: 66px;
              font-weight: 700;
              line-height: 82px;
              text-align: center;
            "
          >
            Mission
          </h2>
          <h4 style="font-size: large; text-align: center">
            We shall provide users with the most comprehensive and seamless
            exchange platform available and shall ensure we are at the forefront
            of security with convenient transparency.
          </h4>
        </div>
      </div>
      <!--- END COL -->
    </div>
    <!--- END ROW -->
  </div>
  <!--- END CONTAINER -->
</section>

<section class="contact_us section-padding">
  <div class="container">
    <div class="section-title text-left">
      <div
        class=""
        data-wow-duration="1s"
        data-wow-delay="0.2s"
        data-wow-offset="0"
      >
        <!-- <br /><br /> -->
        <div class="about-text">
          <h2
            style="
              color: #fff;
              font-size: 66px;
              font-weight: 700;
              line-height: 82px;
              text-align: center;
            "
          >
            Vision
          </h2>
          <h4 style="font-size: large; text-align: center">
            We are a team of innovators, committed to driving cryptocurrency
            adoption globally by democratizing access to the cryptocurrency
            ecosystem.
          </h4>
        </div>
      </div>
      <!--- END COL -->
    </div>
    <!--- END ROW -->
  </div>
  <!--- END CONTAINER -->
</section>
