.owl-stage-outer.ng-star-inserted {
  display: flex;
}

.ng-tns-c53-0 {
  display: flex;
}

.owl-item.ng-tns-c53-0.ng-trigger.ng-trigger-autoHeight.ng-star-inserted.active {
  width: 439.75px;
  display: flex;
  height: 100%;
}
